<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="gauge-container" style="width: 80%;">
        <div class="arrow arrow-right" id="arrow-right"></div>
        <div class="gauge-rectangle" id="rect-50"></div>
        <div class="gauge-rectangle" id="rect-40"></div>
        <div class="gauge-rectangle" id="rect-30"></div>
        <div class="gauge-rectangle" id="rect-20"></div>
        <div class="gauge-rectangle" id="rect-10"></div>
        <div class="center-triangle" id="center-triangle"></div>
        <div class="gauge-rectangle" id="rect10"></div>
        <div class="gauge-rectangle" id="rect20"></div>
        <div class="gauge-rectangle" id="rect30"></div>
        <div class="gauge-rectangle" id="rect40"></div>
        <div class="gauge-rectangle" id="rect50"></div>
        <div class="arrow arrow-left" id="arrow-left"></div>
        
    </div>
</div>